section.section.carousel.js-carousel-triple-swiper
  .carousel__site-container
    .carousel__heading.section__heading
      h2.carousel__title.section__title Другие проекты
      .carousel__controls.slider-buttons.hide-on-mobile
        button.slider-buttons__button.slider-buttons__button--prev(type="button")
          +icon-multi('prev-ar')
        button.slider-buttons__button.slider-buttons__button--next(type="button")
          +icon-multi('next-ar')

    .carousel__body
      .carousel__swiper.swiper
        ul.carousel__swiper-wrapper.swiper-wrapper
          li.carousel__swiper-slide.swiper-slide
            a.project-slide(href="#" id="")
              .project-slide__image
                picture
                  source(type="image/webp" srcset="./assets/images/projects/1.webp" alt="")
                  img(src="./assets/images/projects/1.png" alt="")

                span.project-slide__hover.hide-on-mobile
                span.project-slide__link.show-on-mobile
                  +icon-multi('link')
              .project-slide__info
                p.project-slide__text
                  | Комплексные услуги для систем кабельной арматуры
                p.project-slide__date
                  | 06.2022 - 08.2022
          li.carousel__swiper-slide.swiper-slide
            a.project-slide(href="#" id="")
              .project-slide__image
                picture
                  source(type="image/webp" srcset="./assets/images/projects/3.webp" alt="")
                  img(src="./assets/images/projects/3.png" alt="")

                span.project-slide__hover.hide-on-mobile
                span.project-slide__link.show-on-mobile
                  +icon-multi('link')
              .project-slide__info
                p.project-slide__text
                  | Надёжные решения для электроэнергетики
                p.project-slide__date
                  | 06.2022 - 08.2022
          li.carousel__swiper-slide.swiper-slide
            a.project-slide(href="#" id="")
              .project-slide__image
                picture
                  source(type="image/webp" srcset="./assets/images/projects/2.webp" alt="")
                  img(src="./assets/images/projects/2.png" alt="")

                span.project-slide__hover.hide-on-mobile
                span.project-slide__link.show-on-mobile
                  +icon-multi('link')
              .project-slide__info
                p.project-slide__text
                  | Инновации в кабельной арматуре
                p.project-slide__date
                  | 06.2022 - 08.2022
          li.carousel__swiper-slide.swiper-slide
            a.project-slide(href="#" id="")
              .project-slide__image
                picture
                  source(type="image/webp" srcset="./assets/images/projects/1.webp" alt="")
                  img(src="./assets/images/projects/1.png" alt="")

                span.project-slide__hover.hide-on-mobile
                span.project-slide__link.show-on-mobile
                  +icon-multi('link')
              .project-slide__info
                p.project-slide__text
                  | Комплексные услуги для систем кабельной арматуры
                p.project-slide__date
                  | 06.2022 - 08.2022
          li.carousel__swiper-slide.swiper-slide
            a.project-slide(href="#" id="")
              .project-slide__image
                picture
                  source(type="image/webp" srcset="./assets/images/projects/3.webp" alt="")
                  img(src="./assets/images/projects/3.png" alt="")

                span.project-slide__hover.hide-on-mobile
                span.project-slide__link.show-on-mobile
                  +icon-multi('link')
              .project-slide__info
                p.project-slide__text
                  | Надёжные решения для электроэнергетики
                p.project-slide__date
                  | 06.2022 - 08.2022
          li.carousel__swiper-slide.swiper-slide
            a.project-slide(href="#" id="")
              .project-slide__image
                picture
                  source(type="image/webp" srcset="./assets/images/projects/2.webp" alt="")
                  img(src="./assets/images/projects/2.png" alt="")

                span.project-slide__hover.hide-on-mobile
                span.project-slide__link.show-on-mobile
                  +icon-multi('link')
              .project-slide__info
                p.project-slide__text
                  | Инновации в кабельной арматуре
                p.project-slide__date
                  | 06.2022 - 08.2022
