section.section.materials.subcategories
  .materials__site-container.subcategories__site-container
    .subcategories__heading.subcategories__heading--column
      h2.subcategories__title.subcategories__title--smaller
        | модернизация и реконструкция электрических сетей в городе N с&nbsp;использованием СИП

      .subcategories__big-image
        picture
          source(type="image/webp" srcset="./assets/images/projects/cover.webp" alt="")
          img(src="./assets/images/projects/cover.jpg" alt="")

    .subcategories__project-article.project-article
      nav
        ul
          li
            a._active(href="#project-article-1") О проекте
          li
            a(href="#project-article-2") Цели проекта
          li
            a(href="#project-article-3") Реализация
          li
            a(href="#project-article-4") Результат
          li
            a(href="#project-article-5") Галерея

      section
        div#project-article-1
          h3 О проекте

          ul
            li
              label Локация
              h6 г. Нижнекамск
            li
              label Год реализации
              h6 2023
            li
              label Заказчик
              h6 ПАО «Россети Московский регион»

          article
            h4
              | В городе N назрела необходимость модернизации и реконструкции
              | электрических сетей. Устаревшее оборудование и инфраструктура
              | не могли обеспечить надёжное и безопасное электроснабжение
              | растущего города.

            p
              | Для решения этой проблемы был разработан проект модернизации
              | и реконструкции электрических сетей с использованием арматуры
              | СИП (самонесущий изолированный провод). Проект предусматривал
              | замену устаревшего оборудования, строительство новых линий
              | электропередачи и установку современной арматуры СИП.

        div#project-article-2
          h3 Цели проекта

          ul
            li
              i
              p Оценка состояния электрических сетей
            li
              i
              p Определение потребностей города в электроэнергии
            li
              i
              p Разработка плана модернизации и реконструкции

          img(src="./assets/images/projects/article.png" alt="")

        div#project-article-3
          h3 Реализация

          p
            | Этапы реализации проекта включают тщательный анализ текущей
            | инфраструктуры и разработку проектной документации. Затем
            | осуществляется монтаж новых элементов системы, таких как СИП
            | и современные зажимы, что обеспечивает улучшение надежности
            | электроснабжения.

          ol
            li
              input#realize-1(type="radio" name="realize" hidden)
              label(for="realize-1")
                | Анализ существующей инфраструктуры
                i
              ul
                li Оценка состояния электрических сетей
                li Определение потребностей города в электроэнергии
                li Разработка плана модернизации и реконструкции
            li
              input#realize-2(type="radio" name="realize" hidden)
              label(for="realize-2")
                | Замена устаревшего оборудования
                i
              ul
                li Оценка состояния электрических сетей
                li Определение потребностей города в электроэнергии
                li Разработка плана модернизации и реконструкции
            li
              input#realize-3(type="radio" name="realize" hidden)
              label(for="realize-3")
                | Строительство новых линий электропередач
                i
              ul
                li Оценка состояния электрических сетей
                li Определение потребностей города в электроэнергии
                li Разработка плана модернизации и реконструкции
            li
              input#realize-4(type="radio" name="realize" hidden)
              label(for="realize-4")
                | Установка арматуры СИП
                i
              ul
                li Оценка состояния электрических сетей
                li Определение потребностей города в электроэнергии
                li Разработка плана модернизации и реконструкции

          article
            h5
              | Проект модернизации и реконструкции электрических сетей в городе
              | N позволил повысить надёжность и безопасность электроснабжения,
              | снизить потери электроэнергии и улучшить качество электроснабжения.
              | Благодаря этому проекту город N получил возможность дальнейшего развития
              |  и подключения новых потребителей.

            div
              img(src="./assets/images/projects/av.png" alt="")

              p
                span Рустем Хайруллин
                i генеральный директор

        div#project-article-4
          h3 Результат

          h4
            | В результате проект позволил повысить надёжность и безопасность
            | электроснабжения, снизить потери электроэнергии и улучшить
            | качество электроснабжения. Благодаря этому проекту город N получил
            | возможность дальнейшего развития и подключения новых потребителей.

        div#project-article-5
          h3 Галерея проекта

          div.js-project-carousel
            .swiper.js-main-project-swiper
              ul.swiper-wrapper
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide.webp" alt="")
                    img(src="./assets/images/projects/slide.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide-1.webp" alt="")
                    img(src="./assets/images/projects/slide-1.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide.webp" alt="")
                    img(src="./assets/images/projects/slide.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide-1.webp" alt="")
                    img(src="./assets/images/projects/slide-1.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide.webp" alt="")
                    img(src="./assets/images/projects/slide.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide-1.webp" alt="")
                    img(src="./assets/images/projects/slide-1.png" alt="")

              .swiper-navigation
                button.swiper-btn-prev.slider-buttons__button.slider-buttons__button--prev(type="button")
                  +icon-multi('prev-ar')
                button.swiper-btn-next.slider-buttons__button.slider-buttons__button--next(type="button")
                  +icon-multi('next-ar')
            .swiper.js-thumbs-project-swiper(thumbsSlider="")
              ul.swiper-wrapper
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide.webp" alt="")
                    img(src="./assets/images/projects/slide.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide-1.webp" alt="")
                    img(src="./assets/images/projects/slide-1.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide.webp" alt="")
                    img(src="./assets/images/projects/slide.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide-1.webp" alt="")
                    img(src="./assets/images/projects/slide-1.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide.webp" alt="")
                    img(src="./assets/images/projects/slide.png" alt="")
                li.swiper-slide
                  picture
                    source(type="image/webp" srcset="./assets/images/projects/slide-1.webp" alt="")
                    img(src="./assets/images/projects/slide-1.png" alt="")
