.projects-map {

  &__wrapper {
    position: relative;

    width: 100%;
    aspect-ratio: 1.85 / 1;
  }

  &__cover {
    position: absolute;
    inset: 0;
    z-index: 100;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &__counter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    color: var(- -White-20, rgba(255, 255, 255, 0.20));
    font-size: 14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    &::after {
      content: "+";
    }
  }

  &__dots-group {
    @include breakpointMF(tablet) {
      display: contents;
    }
  }

  &__dot {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    cursor: pointer;

    &:is(.projects-map__dot--simple) {
      width: 3.2rem;
      height: 3.2rem;

      background: transparent;
      border: 1px solid transparent;
      border-radius: 100%;

      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%227%22%20fill%3D%22%23EBAA5B%22%2F%3E%0A%3C%2Fsvg%3E%0A');
      background-size: 1.4rem 1.4rem;
      background-repeat: no-repeat;
      background-position: center;

      @include breakpointMF(tablet) {
        position: absolute;
        z-index: 300;

        display: grid;
        place-items: center;
      }

      &.projects-map__dot--active {
        z-index: 1000;

        background-size: 1.6rem 1.6rem;
        background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%228%22%20fill%3D%22%23EF9930%22%2F%3E%0A%3C%2Fsvg%3E%0A');

        border-color: var(--Color-Yellow-2, #EF9930);

        .projects-map__dot-popup {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }

      &:hover {
        border-color: var(--Color-Yellow-2, #EF9930);
      }
    }

    &:is(.projects-map__dot--multiple) {
      width: 2.4rem;
      height: 2.4rem;

      border-radius: 100%;

      @include breakpointMF(tablet) {
        position: absolute;
        z-index: 300;

        display: grid;
        place-items: center;
      }

      &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 2.4rem;
        height: 2.4rem;

        background-color: var(--Color-Yellow, #EBAA5B);
        border-radius: 100%;

        transition-property: all;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        cursor: pointer;

        content: "";
      }

      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        color: var(--Achromatic-Black, #050403);
        @include font(1.2rem, 100%, 500);
        text-align: center;
        content: attr(data-dot-counter);
      }

      &.projects-map__dot--active {
        z-index: 1000;

        background: var(--Color-Yellow-2, #EF9930);

        &::before {
          width: 3.2rem;
          height: 3.2rem;

          background: var(--Color-Yellow-2, #EF9930);
        }

        .projects-map__dot-popup {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }
  }

  &__dot-popup-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__dot-popup {
    position: absolute;
    top: 50%;
    left: calc(100% + 2rem);
    transform: translateY(-50%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition-property: opacity, visibility;
    transition-duration: 0.4s;
    transition-timing-function: ease;

    &.projects-map__dot-popup--left {
      left: unset;
      right: calc(100% + 2rem);

      .projects-map__dot-popup-close {
        left: unset;
        right: calc(100% + 1rem);
      }
    }
  }

  &__dot-popup-close {
    position: absolute;
    top: 0;
    left: calc(100% + 1rem);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 0;
    width: 4rem;
    height: 4rem;

    background: #050403;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .icon {
      width: 2rem;
      height: 2rem;
      stroke: #fafafa;
    }
  }

  &__dot-popup-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    max-height: 100%;
    overflow: auto;

    padding-right: 0.8rem;
    margin-right: -0.8rem;

    @include onlyChromiumSupport() {
      &::-webkit-scrollbar {
        width: 2px;
        background-color: rgba(255, 255, 255, 0);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--Opacity-White-10, rgba(255, 255, 255, 0.10));
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }

  &__popup-list-wrapper {
    &:has(.dot-popup:nth-child(2)) {
      overflow: hidden;
      height: 68rem;
      padding: 1.6rem;

      border-radius: 1.6rem;
      border: 1px solid var(--Opacity-White-10, rgba(255, 255, 255, 0.10));
      background: var(--Achromatic-Black, #050403);
    }
  }
}



@-moz-document url-prefix() {
  .projects-map__dot-popup-list {
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
    scrollbar-width: thin !important;
  }
}
