.project-slide {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.6rem;

  color: var(--White, #FFF);

  @include breakpointMF(tablet) {
    gap: 2rem;
  }

  &__image {
    position: relative;

    overflow: hidden;
    width: 100%;
    aspect-ratio: 1.5 / 1;

    border-radius: 1.6rem;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 100%;
      max-width: unset;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include breakpointMF(tablet) {
      aspect-ratio: 1.55 / 1;
      border-radius: 1rem;
    }
  }

  &__hover {
    position: absolute;
    right: 9.8rem;
    bottom: 6rem;
    z-index: 100;

    flex-shrink: 0;
    width: 14rem;
    height: 14rem;

    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%22140%22%20height%3D%22140%22%20viewBox%3D%220%200%20140%20140%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%22140%22%20height%3D%22140%22%20rx%3D%2270%22%20fill%3D%22%23EBAA5B%22%2F%3E%0A%3Cpath%20d%3D%22M38.5217%2056.504V65H37.3577V57.536H33.2897V65H32.1257V56.504H38.5217ZM49.5133%2060.74C49.5133%2061.396%2049.4013%2062%2049.1773%2062.552C48.9533%2063.096%2048.6413%2063.568%2048.2413%2063.968C47.8413%2064.36%2047.3653%2064.668%2046.8133%2064.892C46.2693%2065.108%2045.6773%2065.216%2045.0373%2065.216C44.3973%2065.216%2043.8013%2065.108%2043.2493%2064.892C42.7053%2064.668%2042.2333%2064.36%2041.8333%2063.968C41.4333%2063.568%2041.1213%2063.096%2040.8973%2062.552C40.6733%2062%2040.5613%2061.396%2040.5613%2060.74C40.5613%2060.084%2040.6733%2059.484%2040.8973%2058.94C41.1213%2058.396%2041.4333%2057.928%2041.8333%2057.536C42.2333%2057.144%2042.7053%2056.84%2043.2493%2056.624C43.8013%2056.4%2044.3973%2056.288%2045.0373%2056.288C45.6773%2056.288%2046.2693%2056.4%2046.8133%2056.624C47.3653%2056.84%2047.8413%2057.144%2048.2413%2057.536C48.6413%2057.928%2048.9533%2058.396%2049.1773%2058.94C49.4013%2059.484%2049.5133%2060.084%2049.5133%2060.74ZM48.2773%2060.74C48.2773%2060.276%2048.2013%2059.84%2048.0493%2059.432C47.8973%2059.016%2047.6813%2058.652%2047.4013%2058.34C47.1213%2058.028%2046.7813%2057.78%2046.3813%2057.596C45.9813%2057.412%2045.5333%2057.32%2045.0373%2057.32C44.5413%2057.32%2044.0933%2057.412%2043.6933%2057.596C43.2933%2057.78%2042.9533%2058.028%2042.6733%2058.34C42.3933%2058.652%2042.1773%2059.016%2042.0253%2059.432C41.8733%2059.84%2041.7973%2060.276%2041.7973%2060.74C41.7973%2061.212%2041.8733%2061.656%2042.0253%2062.072C42.1773%2062.488%2042.3933%2062.852%2042.6733%2063.164C42.9533%2063.476%2043.2933%2063.724%2043.6933%2063.908C44.0933%2064.084%2044.5413%2064.172%2045.0373%2064.172C45.5333%2064.172%2045.9813%2064.084%2046.3813%2063.908C46.7813%2063.724%2047.1213%2063.476%2047.4013%2063.164C47.6813%2062.852%2047.8973%2062.488%2048.0493%2062.072C48.2013%2061.656%2048.2773%2061.212%2048.2773%2060.74ZM51.5486%2065V66.668H50.4806V63.968H51.6326L54.4526%2056.504H55.5806L58.3646%2063.968H59.5406V66.668H58.4606V65H51.5486ZM52.8206%2063.968H57.1526L54.9806%2057.812L52.8206%2063.968ZM60.9557%2056.504H63.5357C63.9757%2056.504%2064.3797%2056.552%2064.7477%2056.648C65.1157%2056.736%2065.4317%2056.876%2065.6957%2057.068C65.9597%2057.26%2066.1637%2057.504%2066.3077%2057.8C66.4517%2058.096%2066.5237%2058.448%2066.5237%2058.856C66.5237%2059.264%2066.4477%2059.62%2066.2957%2059.924C66.1437%2060.22%2065.9317%2060.468%2065.6597%2060.668C65.3957%2060.86%2065.0757%2061.004%2064.6997%2061.1C64.3317%2061.196%2063.9317%2061.244%2063.4997%2061.244H62.1197V65H60.9557V56.504ZM62.1197%2060.284H63.4277C64.0277%2060.284%2064.4957%2060.168%2064.8317%2059.936C65.1757%2059.704%2065.3477%2059.348%2065.3477%2058.868C65.3477%2058.372%2065.1757%2058.016%2064.8317%2057.8C64.4877%2057.584%2064.0237%2057.476%2063.4397%2057.476H62.1197V60.284ZM76.9605%2060.74C76.9605%2061.396%2076.8485%2062%2076.6245%2062.552C76.4005%2063.096%2076.0885%2063.568%2075.6885%2063.968C75.2885%2064.36%2074.8125%2064.668%2074.2605%2064.892C73.7165%2065.108%2073.1245%2065.216%2072.4845%2065.216C71.8445%2065.216%2071.2485%2065.108%2070.6965%2064.892C70.1525%2064.668%2069.6805%2064.36%2069.2805%2063.968C68.8805%2063.568%2068.5685%2063.096%2068.3445%2062.552C68.1205%2062%2068.0085%2061.396%2068.0085%2060.74C68.0085%2060.084%2068.1205%2059.484%2068.3445%2058.94C68.5685%2058.396%2068.8805%2057.928%2069.2805%2057.536C69.6805%2057.144%2070.1525%2056.84%2070.6965%2056.624C71.2485%2056.4%2071.8445%2056.288%2072.4845%2056.288C73.1245%2056.288%2073.7165%2056.4%2074.2605%2056.624C74.8125%2056.84%2075.2885%2057.144%2075.6885%2057.536C76.0885%2057.928%2076.4005%2058.396%2076.6245%2058.94C76.8485%2059.484%2076.9605%2060.084%2076.9605%2060.74ZM75.7245%2060.74C75.7245%2060.276%2075.6485%2059.84%2075.4965%2059.432C75.3445%2059.016%2075.1285%2058.652%2074.8485%2058.34C74.5685%2058.028%2074.2285%2057.78%2073.8285%2057.596C73.4285%2057.412%2072.9805%2057.32%2072.4845%2057.32C71.9885%2057.32%2071.5405%2057.412%2071.1405%2057.596C70.7405%2057.78%2070.4005%2058.028%2070.1205%2058.34C69.8405%2058.652%2069.6245%2059.016%2069.4725%2059.432C69.3205%2059.84%2069.2445%2060.276%2069.2445%2060.74C69.2445%2061.212%2069.3205%2061.656%2069.4725%2062.072C69.6245%2062.488%2069.8405%2062.852%2070.1205%2063.164C70.4005%2063.476%2070.7405%2063.724%2071.1405%2063.908C71.5405%2064.084%2071.9885%2064.172%2072.4845%2064.172C72.9805%2064.172%2073.4285%2064.084%2073.8285%2063.908C74.2285%2063.724%2074.5685%2063.476%2074.8485%2063.164C75.1285%2062.852%2075.3445%2062.488%2075.4965%2062.072C75.6485%2061.656%2075.7245%2061.212%2075.7245%2060.74ZM81.6478%2063.968C82.2478%2063.968%2082.7198%2063.84%2083.0638%2063.584C83.4158%2063.328%2083.5918%2062.968%2083.5918%2062.504C83.5918%2062.016%2083.4118%2061.656%2083.0518%2061.424C82.6998%2061.192%2082.2358%2061.076%2081.6598%2061.076H80.1718V63.968H81.6478ZM79.0078%2065V56.504H84.1438V57.536H80.1718V60.044H81.7558C82.1958%2060.044%2082.5958%2060.096%2082.9558%2060.2C83.3238%2060.304%2083.6398%2060.46%2083.9038%2060.668C84.1678%2060.876%2084.3718%2061.132%2084.5158%2061.436C84.6598%2061.74%2084.7318%2062.096%2084.7318%2062.504C84.7318%2062.912%2084.6558%2063.272%2084.5038%2063.584C84.3518%2063.896%2084.1398%2064.16%2083.8678%2064.376C83.6038%2064.584%2083.2878%2064.74%2082.9198%2064.844C82.5518%2064.948%2082.1518%2065%2081.7198%2065H79.0078ZM86.8678%2056.504H88.0318V60.068H92.3278V56.504H93.4918V65H92.3278V61.1H88.0318V65H86.8678V56.504ZM97.1334%2063.98H101.537V65H95.9934V56.504H101.369V57.524H97.1334V60.104H101.105V61.088H97.1334V63.98ZM104.642%2063.98H109.046V65H103.502V56.504H108.878V57.524H104.642V60.104H108.614V61.088H104.642V63.98ZM44.3411%2078.74C44.3411%2079.396%2044.2291%2080%2044.0051%2080.552C43.7811%2081.096%2043.4691%2081.568%2043.0691%2081.968C42.6691%2082.36%2042.1931%2082.668%2041.6411%2082.892C41.0971%2083.108%2040.5051%2083.216%2039.8651%2083.216C39.2251%2083.216%2038.6291%2083.108%2038.0771%2082.892C37.5331%2082.668%2037.0611%2082.36%2036.6611%2081.968C36.2611%2081.568%2035.9491%2081.096%2035.7251%2080.552C35.5011%2080%2035.3891%2079.396%2035.3891%2078.74C35.3891%2078.084%2035.5011%2077.484%2035.7251%2076.94C35.9491%2076.396%2036.2611%2075.928%2036.6611%2075.536C37.0611%2075.144%2037.5331%2074.84%2038.0771%2074.624C38.6291%2074.4%2039.2251%2074.288%2039.8651%2074.288C40.5051%2074.288%2041.0971%2074.4%2041.6411%2074.624C42.1931%2074.84%2042.6691%2075.144%2043.0691%2075.536C43.4691%2075.928%2043.7811%2076.396%2044.0051%2076.94C44.2291%2077.484%2044.3411%2078.084%2044.3411%2078.74ZM43.1051%2078.74C43.1051%2078.276%2043.0291%2077.84%2042.8771%2077.432C42.7251%2077.016%2042.5091%2076.652%2042.2291%2076.34C41.9491%2076.028%2041.6091%2075.78%2041.2091%2075.596C40.8091%2075.412%2040.3611%2075.32%2039.8651%2075.32C39.3691%2075.32%2038.9211%2075.412%2038.5211%2075.596C38.1211%2075.78%2037.7811%2076.028%2037.5011%2076.34C37.2211%2076.652%2037.0051%2077.016%2036.8531%2077.432C36.7011%2077.84%2036.6251%2078.276%2036.6251%2078.74C36.6251%2079.212%2036.7011%2079.656%2036.8531%2080.072C37.0051%2080.488%2037.2211%2080.852%2037.5011%2081.164C37.7811%2081.476%2038.1211%2081.724%2038.5211%2081.908C38.9211%2082.084%2039.3691%2082.172%2039.8651%2082.172C40.3611%2082.172%2040.8091%2082.084%2041.2091%2081.908C41.6091%2081.724%2041.9491%2081.476%2042.2291%2081.164C42.5091%2080.852%2042.7251%2080.488%2042.8771%2080.072C43.0291%2079.656%2043.1051%2079.212%2043.1051%2078.74ZM56.1444%2074.504V83H54.9804V75.536H50.9124V83H49.7484V74.504H56.1444ZM58.6279%2074.504H61.2079C61.6479%2074.504%2062.0519%2074.552%2062.4199%2074.648C62.7879%2074.736%2063.1039%2074.876%2063.3679%2075.068C63.6319%2075.26%2063.8359%2075.504%2063.9799%2075.8C64.1239%2076.096%2064.1959%2076.448%2064.1959%2076.856C64.1959%2077.264%2064.1199%2077.62%2063.9679%2077.924C63.8159%2078.22%2063.6039%2078.468%2063.3319%2078.668C63.0679%2078.86%2062.7479%2079.004%2062.3719%2079.1C62.0039%2079.196%2061.6039%2079.244%2061.1719%2079.244H59.7919V83H58.6279V74.504ZM59.7919%2078.284H61.0999C61.6999%2078.284%2062.1679%2078.168%2062.5039%2077.936C62.8479%2077.704%2063.0199%2077.348%2063.0199%2076.868C63.0199%2076.372%2062.8479%2076.016%2062.5039%2075.8C62.1599%2075.584%2061.6959%2075.476%2061.1119%2075.476H59.7919V78.284ZM74.6326%2078.74C74.6326%2079.396%2074.5206%2080%2074.2966%2080.552C74.0726%2081.096%2073.7606%2081.568%2073.3606%2081.968C72.9606%2082.36%2072.4846%2082.668%2071.9326%2082.892C71.3886%2083.108%2070.7966%2083.216%2070.1566%2083.216C69.5166%2083.216%2068.9206%2083.108%2068.3686%2082.892C67.8246%2082.668%2067.3526%2082.36%2066.9526%2081.968C66.5526%2081.568%2066.2406%2081.096%2066.0166%2080.552C65.7926%2080%2065.6806%2079.396%2065.6806%2078.74C65.6806%2078.084%2065.7926%2077.484%2066.0166%2076.94C66.2406%2076.396%2066.5526%2075.928%2066.9526%2075.536C67.3526%2075.144%2067.8246%2074.84%2068.3686%2074.624C68.9206%2074.4%2069.5166%2074.288%2070.1566%2074.288C70.7966%2074.288%2071.3886%2074.4%2071.9326%2074.624C72.4846%2074.84%2072.9606%2075.144%2073.3606%2075.536C73.7606%2075.928%2074.0726%2076.396%2074.2966%2076.94C74.5206%2077.484%2074.6326%2078.084%2074.6326%2078.74ZM73.3966%2078.74C73.3966%2078.276%2073.3206%2077.84%2073.1686%2077.432C73.0166%2077.016%2072.8006%2076.652%2072.5206%2076.34C72.2406%2076.028%2071.9006%2075.78%2071.5006%2075.596C71.1006%2075.412%2070.6526%2075.32%2070.1566%2075.32C69.6606%2075.32%2069.2126%2075.412%2068.8126%2075.596C68.4126%2075.78%2068.0726%2076.028%2067.7926%2076.34C67.5126%2076.652%2067.2966%2077.016%2067.1446%2077.432C66.9926%2077.84%2066.9166%2078.276%2066.9166%2078.74C66.9166%2079.212%2066.9926%2079.656%2067.1446%2080.072C67.2966%2080.488%2067.5126%2080.852%2067.7926%2081.164C68.0726%2081.476%2068.4126%2081.724%2068.8126%2081.908C69.2126%2082.084%2069.6606%2082.172%2070.1566%2082.172C70.6526%2082.172%2071.1006%2082.084%2071.5006%2081.908C71.9006%2081.724%2072.2406%2081.476%2072.5206%2081.164C72.8006%2080.852%2073.0166%2080.488%2073.1686%2080.072C73.3206%2079.656%2073.3966%2079.212%2073.3966%2078.74ZM77.82%2081.98H82.224V83H76.68V74.504H82.056V75.524H77.82V78.104H81.792V79.088H77.82V81.98ZM84.1884%2083V74.504H85.3524V77.984C85.5444%2077.984%2085.7284%2077.992%2085.9044%2078.008C86.0884%2078.016%2086.2684%2078.028%2086.4444%2078.044L89.5164%2074.504H90.7884L87.6324%2078.32C88.5684%2078.64%2089.3004%2079.184%2089.8284%2079.952C90.3564%2080.72%2090.7244%2081.736%2090.9324%2083H89.6484C89.5284%2082.296%2089.3564%2081.688%2089.1324%2081.176C88.9164%2080.664%2088.6364%2080.248%2088.2924%2079.928C87.9484%2079.6%2087.5324%2079.364%2087.0444%2079.22C86.5644%2079.068%2086.0004%2079%2085.3524%2079.016V83H84.1884ZM95.8676%2083H94.7036V75.524H91.9676V74.504H98.6036V75.524H95.8676V83ZM101.294%2081.98H105.698V83H100.154V74.504H105.53V75.524H101.294V78.104H105.266V79.088H101.294V81.98Z%22%20fill%3D%22%23050403%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;

    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    opacity: 0;
  }

  &__link {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
    z-index: 100;

    display: grid;
    place-items: center;

    width: 4rem;
    height: 4rem;

    border: 1px solid var(--White-30, rgba(255, 255, 255, 0.30));
    border-radius: 100%;

    transition-property: border, background;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    .icon {
      width: 1.6rem;
      height: 1.6rem;
      stroke: var(--White, rgba(255, 255, 255, 1));

      transition-property: stroke;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;

    @include breakpointMF(tablet) {
      flex-direction: row;
      justify-content: space-between;
      grid-area: 3rem;
    }
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    @include breakpointMF(tablet) {
      font-size: 2rem;
      line-height: 115%;
    }
  }

  &__date {
    flex-shrink: 0;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;

    @include breakpointMF(tablet) {
      font-size: 1.6rem;
      line-height: 130%;
    }
  }

  @include hoverActive() {
    .project-slide__hover {
      opacity: 1;
    }

    .project-slide__link {
      border-color: var(--Yellow, #EBAA5B);
      background: var(--Yellow, #EBAA5B);

      .icon {
        stroke: #050403;
      }
    }
  }
}
