.burger-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.4rem;
  height: 4rem;

  span {
    position: relative;

    display: block;
    width: 4.4rem;
    height: 0.6rem;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0) rotate(0deg);
      width: 100%;
      height: 0.2rem;
      min-height: 2px;

      background-color: var(--White, #FFF);
      transition: all 0.4s ease;
      will-change: tranform;
      content: "";
    }

    &::before {
      bottom: calc(100%);
    }

    &::after {
      top: calc(100%);
    }
  }

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    transition-property: stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    stroke: var(--White);
  }

  .icon-burger-cross {
    opacity: 0;
  }

  @include hoverActive() {
    .icon {
      stroke: var(--White-40, rgba(255, 255, 255, 0.4));
    }
  }
}

.search-is-open,
.callback-modal-is-open,
.desktop-menu-is-open .burger-menu {

  .icon-burger-lines {
    opacity: 0;
  }

  .icon-burger-cross {
    opacity: 1;
  }
}
