.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  .icon {
    flex-shrink: 0;
    width: 4.4rem;
    height: 4rem;
    fill: none;
    stroke:  var(--White, #FFF);
  }

  @include hoverActive() {
    .icon {
      opacity: 0.4;
    }
  }
}
