.button {
  display: block;
  max-height: 4rem;
  padding: 1.3rem 2.45rem;

  color: var(--Black, #050403);
  text-align: center;
  background-color: var(--Yellow, #EBAA5B);
  border-radius: 2rem;
  cursor: pointer;

  @extend .buttons-text;

  @include hoverActive() {
    background-color: var(--Yellow-2, #EF9930);
  }

  &--bigger {
    max-height: 4.8rem;
    padding: 1.6rem 5rem;

    border-radius: 2.75rem;

    @include hoverActive() {
      background-color: var(--Yellow-2, #EF9930);
    }

    @include breakpointMF(tablet) {
      max-height: 5.5rem;
      padding: 2.1rem 5.2rem;
    }
  }

  &--biggest {
    max-height: 4.8rem;
    padding: 1.6rem 5rem;

    border-radius: 4rem;

    @include hoverActive() {
      background-color: var(--Yellow-2, #EF9930);
    }

    @include breakpointMF(tablet) {
      max-height: 7rem;
      padding: 2.7rem 5.2rem;
      border-radius: 100rem;
    }
  }

  &--big {
    max-height: 4.8rem;
    padding: 1.6rem 5rem;

    background-color: var(--White, #FFF);
    border-radius: 2.75rem;

    @include hoverActive() {
      background-color: var(--Yellow, #EBAA5B);
    }

    @include breakpointMF(tablet) {
      max-height: 5.5rem;
      padding: 2.1rem 5.2rem;
    }
  }

  &--outlined {
    color: var(--White, #FFF);
    background-color: transparent;
    border: 1px solid var(--Achromatic-White, #FFF);

    @include hoverActive() {
      color: var(--Black, #050403);
      background-color: var(--White, #FFF);
    }
  }

  &--outlined-low {
    color: var(--White, #FFF);
    background-color: transparent;
    border: 1px solid var(--Opacity-White-20, rgba(255, 255, 255, 0.20));

    @include hoverActive() {
      background-color: transparent;
      border-color: var(--White, #FFF);
    }
  }

  &--white {
    background: var(--White, #FFF);
    color: var(--Black, #050403);

    @include breakpointMF(tablet) {
      max-height: 6rem;
      padding: 2.1rem 5.2rem;
      border-radius: 100rem;
    }
  }
}
