.input {
  position: relative;

  .parsley-errors-list {
    @include visuallyHidden();
  }

  &__field {
    width: 100%;
    max-height: 4.8rem;
    padding: 1.35rem 2.4rem;

    color: inherit;
    @include font(1.6rem, 130%, 400);

    border-radius: 2.4rem;
    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
    background: transparent;
    transition: var(--transition);

    @include breakpointMF(tablet) {
      max-height: 5.5rem;
      padding: 1.7rem 2.4rem;
    }

    @include placeholder() {
      opacity: 0.3;
      @include font(1.6rem, 130%, 400);
    }

    &:focus {
      border: 1px solid var(--Opacity-White-40, rgba(255, 255, 255, 0.40));
    }

    &:is(.parsley-error) {
      border-color: var(--Red, #EB1E3D);

      & ~ i {
        opacity: 1;
      }
    }

    &--textarea {
      height: 20rem;
      max-height: unset;

      @include breakpointMF(tablet) {

      }
    }
  }

  i {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    z-index: 100;

    width: 1.6rem;
    height: 1.6rem;

    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%20fill%3D%22none%22%3E%0A%20%20%3Cg%20clip-path%3D%22url(%23clip0_6001_1360)%22%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8%200.5C6.41775%200.5%204.87103%200.969192%203.55544%201.84824C2.23985%202.72729%201.21447%203.97672%200.608967%205.43853C0.00346625%206.90034%20-0.15496%208.50887%200.153721%2010.0607C0.462403%2011.6126%201.22433%2013.038%202.34315%2014.1569C3.46197%2015.2757%204.88743%2016.0376%206.43928%2016.3463C7.99113%2016.655%209.59966%2016.4965%2011.0615%2015.891C12.5233%2015.2855%2013.7727%2014.2602%2014.6518%2012.9446C15.5308%2011.629%2016%2010.0822%2016%208.5C16%206.37827%2015.1571%204.34344%2013.6569%202.84315C12.1566%201.34285%2010.1217%200.5%208%200.5ZM7.30945%204.37574C7.30945%204.1926%207.3822%204.01697%207.5117%203.88747C7.6412%203.75797%207.81683%203.68522%207.99997%203.68522C8.18311%203.68522%208.35874%203.75797%208.48824%203.88747C8.61774%204.01697%208.69049%204.1926%208.69049%204.37574V8.51886C8.69049%208.70199%208.61774%208.87763%208.48824%209.00713C8.35874%209.13663%208.18311%209.20938%207.99997%209.20938C7.81683%209.20938%207.6412%209.13663%207.5117%209.00713C7.3822%208.87763%207.30945%208.70199%207.30945%208.51886V4.37574ZM7.99997%2013.0072C7.79511%2013.0072%207.59486%2012.9465%207.42452%2012.8327C7.25419%2012.7189%207.12143%2012.5571%207.04304%2012.3678C6.96464%2012.1786%206.94413%2011.9703%206.98409%2011.7694C7.02406%2011.5685%207.12271%2011.3839%207.26756%2011.239C7.41242%2011.0942%207.59698%2010.9955%207.7979%2010.9556C7.99882%2010.9156%208.20708%2010.9361%208.39635%2011.0145C8.58561%2011.0929%208.74738%2011.2257%208.86119%2011.396C8.975%2011.5663%209.03575%2011.7666%209.03575%2011.9715C9.03575%2012.2462%208.92662%2012.5096%208.73238%2012.7039C8.53813%2012.8981%208.27468%2013.0072%207.99997%2013.0072Z%22%20fill%3D%22%23EB1E3D%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3CclipPath%20id%3D%22clip0_6001_1360%22%3E%0A%20%20%20%20%20%20%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%20transform%3D%22translate(0%200.5)%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    transition: var(--transition);
    opacity: 0;
    border-radius: 100%;

    transform: translateY(-50%);
  }
}
