.menu-btn {
  position: relative;
  overflow: hidden;

  width: 4.8rem;
  height: 4.8rem;

  border-radius: 100%;
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
  background: var(--Black, #050403);

  .icon {
    width: 1.6rem;
    height: 1.6rem;

    @include centeredAbsolute();
  }

  .icon-mob-close {
    opacity: 0;
    transform: translate(-50%, 120%);
  }
}


.search-is-open,
.callback-modal-is-open,
.mobile-menu-open {
  .menu-btn {
    &.header__mobile-menu {
      .icon-mob-burger {
        opacity: 0;
        transform: translate(-50%, -120%);
      }

      .icon-mob-close {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}
