section.section.subcategories.error-section
  .error-section__site-container
    .error-section__body
      .error-section__center
        .error-section__image
          +icon-multi('error')
        p.error-section__text
          | Страница не найдена. Пожалуйста
          br
          | перейдите на&nbsp;главную или&nbsp;воспользуйтесь
          br
          | навигационным меню

      .error-section__link
        a.button.button--big(href="./index.html") на главную
