extends layout/default.pug

block variables
  - const bodyClass = "page-secondary no-touch"
  - const pageTitle = "О компании"
  - const siteLang = "ru"
  -
    const breadcrumbsList = [
      {
        text: 'Главная',
        href: '/'
      },
      {
        text: 'О компании',
        href: './about.html'
      }
    ];

block content
  include pages/about/main.pug
