extends layout/default.pug

block variables
  - const bodyClass = "page-home no-touch animation-trigger"
  - const pageTitle = "Главная"
  - const siteLang = "ru"
  -
    const breadcrumbsList = [
      {
        text: 'Главная',
        href: '/'
      }
    ]
  - const isMainPage = true
  - const headerAnimimatable = true

block content
  include pages/index/main.pug
