section.section.stats.js-stats-pin
  .stats__site-container
    .stats__body
      .stats__headings
        .stats__title
          h2.stats__phrase РАЗРАБОТЧИК
          h2.stats__phrase И&nbsp;ПРОИЗВОДИТЕЛЬ
          h2.stats__phrase КАБЕЛЬНОЙ АРМАТУРЫ

        p.stats__desc
          | Мы предлагаем широкий ассортимент продукции для&nbsp;энергетической отрасли,
          | включая кабельные муфты, концевые и соединительные гильзы, наконечники
          | и&nbsp; другие&nbsp;комплектующие.

        a.stats__link.button.button--outlined(href="#") о компании

      .stats__scrolling-wrapper
        .stats__scrolling
          ul.stats__scrolling-list
            li.stats__scrolling-item.scrolling-item
              .scrolling-item__title
                span 110 - 550
                i кВ
              p.scrolling-item__text
                | Уникальная кабельная арматура
            li.stats__scrolling-item.scrolling-item.js-scrolling-item
              .scrolling-item__title
                span 2000+
              p.scrolling-item__text
                | Наименований в каталоге
            li.stats__scrolling-item.scrolling-item.js-scrolling-item
              .scrolling-item__title
                span 20 лет
              p.scrolling-item__text
                | Успешной работы на рынке
