.desktop-menu.desktop-menu--callback
  .desktop-menu__container
    .desktop-menu__content.desktop-menu__content--tight
      .desktop-menu__head
        a.desktop-menu__phone(href="tel:+78002505999")
          | 8 800 250 59 99

      .desktop-menu__body.desktop-menu__body--fg
        form.desktop-menu__col.desktop-menu__callback-form.callback-form.js-callback-form(action="" method="method" data-need-validation)
          p.callback-form__title
            | Оставьте&nbsp;заявку
            br
            | на&nbsp;бесплатную консультацию

          .callback-form__inputs
            .callback-form__input.input
              input(type="text", name="callback-name", id="callback-name-id", placeholder="Имя",
                class="input__field", required, autocomplete="off", minlength="2",
                data-parsley-reqtext, data-parsley-trigger="input", data-parsley-validate-if-empty
              )
              i
            .callback-form__input.input
              input(type="tel", name="callback-phone", id="callback-phone-id", placeholder="Телефон",
                class="input__field js-phone-input", required, autocomplete="off", data-parsley-phone,
                data-parsley-trigger="input", data-parsley-validate-if-empty
              )
              i
            .callback-form__input.input
              textarea(name="callback-comment" id="callback-comment-id" placeholder="Сообщение (необязательно)" 
                class="input__field", autocomplete="off"
              )

          .callback-form__submit
            button.button.button--big.callback-form__button(type="submit") отправить
            .callback-form__agreement
              p
                | Нажимая «Отправить», вы соглашаетесь на&nbsp;обработку&nbsp;
              a(href="#")
                | персональных данных

        .desktop-menu__col.desktop-menu__success.callback-answer.display-none
          .callback-answer__icon.callback-answer__icon--success

          .callback-answer__titles
            p.callback-answer__title
              | Ваша&nbsp;заявка
              br
              | успешно&nbsp;отправлена

            p.callback-answer__text
              | Мы обработаем&nbsp;ее и свяжемся с&nbsp;вами в&nbsp;ближайшее время.

          .callback-answer__buttons
            button.button.button--big.callback-answer__close.js-close-callback(type="button") Закрыть

        .desktop-menu__col.desktop-menu__error.callback-answer.display-none
          .callback-answer__icon.callback-answer__icon--error

          .callback-answer__titles
            p.callback-answer__title
              | Не&nbsp;удалось
              br
              | отправить&nbsp;заявку

            p.callback-answer__text
              | Во время отправки произошла ошибка. Попробуйте снова через несколько минут или обновите страницу.

          .callback-answer__buttons
            button.button.button--big.callback-answer__close.js-back-callback(type="button") Повторить попытку
            button.button.button--big.button--outlined.callback-answer__close.js-close-callback(type="button") Отменить

      .desktop-menu__footer
        p.desktop-menu__copyright
          | © АО «СКАТ»
