-
  const menus = [
    {text: "Продукция", link: "./catalog.html", class: ""},
    {text: "Реализованные проекты", link: "#", class: ""},
    {text: "О компании", link: "./about.html", class: ""},
    {text: "Контакты", link: "./contacts.html", class: ""},
  ];

- const svgs = ['vk', 'tg', 'yt'];

- const breadcrubmsClass = 'header__breadcrumbs';

header.header.header-is-animated
  .header__site-container
    .header__col
      +logo(class="header__logo")

      .header__menu.menu.js-hover-opacity.hide-on-mobile
        for item in menus
          a.menu__link.js-hover-link(href= item.link, class= item.class)= item.text

    .header__col.header__col--controls
      .header__desktop-nav.hide-on-mobile
        .header__search
          +btn-search(class="header__search-btn")

          button.button(data-path="modal") оставить заявку

        +burger-menu(class="header__burger-btn js-burger-menu")

      .header__mobile-nav.show-on-mobile
        button.small-button.small-button--outlined(data-path="mobile-menu") заявкa

        +menu-btn(class="header__mobile-menu js-mobile-menu-open")

    .header__desktop-menu.hide-on-mobile
      include desktop-menu.pug

  include breadcrumbs.pug
