.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 2000;

  color: var(--White, #FFF);
  background: linear-gradient(180deg, #000 20%, rgba(0, 0, 0, 0.40) 60%, rgba(0, 0, 0, 0.00) 100%);
  will-change: transform;

  &__site-container {
    position: relative;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;

    @include breakpointMF(tablet) {
      padding-top: 3rem;
      padding-bottom: 10rem;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:has(.header__logo) {
      flex-grow: 1;
    }
  }

  &__logo {
    flex-shrink: 0;
  }

  &__menu {
    flex-grow: 1;
    margin: 0 auto;
  }

  &__desktop-nav {
    display: flex;
    align-items: center;
    gap: 5.8rem;
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__mobile-nav {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &.header--fixed {
    position: fixed;
    animation: transAnim 0.4s ease-out 1 forwards;

    .header__breadcrumbs {
      display: none;
    }
  }

  &__callback-modal,
  &__desktop-menu {
    display: none;
  }
}


.desktop-menu-is-open {

  .header__col--controls {
    position: relative;
    z-index: 2000;
  }

  .header__search {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .header__desktop-menu {
    display: block;
  }
}

.callback-modal-is-open {
  .header__callback-modal {
    display: block;
  }

  .header__col--controls {
    position: relative;
    z-index: 2000;
  }

  .header__search {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .header__col {
    @include breakpoint(small-tablet) {
      position: relative;
      z-index: 2000;
    }
  }
}

@keyframes slideFromRight2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translate(0%);
  }
}

@keyframes transAnim {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes transAnimReverse {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}
