.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #1e1e1e, $alpha: 60%);
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  &:has(.modal-sorting__container) {
    z-index: 5000;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    width: 100%;
    max-width: 50rem;
    height: auto;
    transform: translate(-50%, -50%);

    background-color: rgba($color: #050403, $alpha: 50%);
    border-radius: 1.6rem;
    box-shadow: 0 0 1rem rgba($color: #000, $alpha: 10%);

    &.modal-sorting__container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;

      max-width: 100%;
      height: 100%;

      box-shadow: unset;
      border-radius: unset;

      &.modal-open {
        display: flex;
      }
    }

    &.modal-open {
      display: block;
    }
  }

  &__content {
    position: relative;
    padding: 3.4rem 4rem;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    height: 5.4rem;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      /** span {
        background-color: var(--color-light-green);
      }
      **/
    }

    &:active {
      /**  span {
        background-color: var(--color-dark-green);
      } **/
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 1.3rem;
      height: 0.1rem;
      background-color: black;
      transform: translate(-50%, -50%);
      transition: background-color var(--transition);

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &__legend {
    text-align: center;
  }

  &.modal--callback {}
}

.modal-sorting {
  &__body {
    padding: 3.2rem var(--content-padding, 1.6rem) 2.4rem;
    background: var(--Achromatic-Grey, #1D1D1D);
    border-radius: 2.4rem 2.4rem 0px 0px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-bottom: 2rem;

    &>p {
      @extend .text-32;
      text-transform: uppercase;
    }
  }

  &__close {
    flex-shrink: 0;

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &__item {
    &.select__item {
      .select__label {
        border-top: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
      }

      &:last-child {
        border-bottom: 1px solid var(--Opacity-White-10, rgba(255, 255, 255, 0.10));
      }
    }

    .select__label {
      padding-right: 0;
      padding-left: 0;

      .select__text {
        overflow: hidden;
        color: var(--White, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        text-overflow: ellipsis;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }

      .select__icon {
        border-color: var(--White-10, rgba(255, 255, 255, 0.10));
      }

      @include hoverActive() {
        background-color: transparent;

        .select__icon {
          border-color: var(--Yellow-2, #EF9930);
        }
      }
    }
  }
}

.modal-filters {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    max-height: calc(100% - 8rem);
    padding: unset;
  }

  &__heading {
    padding: 3.2rem var(--content-padding, 1.6rem) 0;
  }


  &__filters {
    flex-grow: 1;
    padding: 0 var(--content-padding, 1.6rem) 0;
    overflow: hidden;
  }

  &__nav-list {
    max-height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.2rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--White-10, rgba(255, 255, 255, 0.10));
    }
  }

  &__footer {
    flex-shrink: 0;
    padding: var(--content-padding, 1.6rem);
    background: var(--Achromatic-Grey, #1D1D1D);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.40);
  }

  &__submit {
    margin-bottom: 0.8rem;

    &.button {
      width: 100%;
      height: 4.8rem;
    }
  }

  &__reset {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 4.8rem;

    border-radius: 4rem;
    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));

    input[type="reset"] {
      width: auto;
      padding: 0;
      color: var(--White, #FFF);
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .icon {
      width: 1.6rem;
      height: 1.6rem;
      stroke: var(--White, #fff);
    }
  }
}

.modal-map {
  &.modal {
    z-index: 5000;
  }

  &__container {
    position: relative;

    display: flex;
    align-items: stretch;
    flex-direction: column;

    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding-top: 8rem;

    background: var(--Black, #050403);

    &.modal-open {
      display: flex;
    }
  }

  &__close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    width: 4.8rem;
    height: 4.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M3%203L13%2013%22%20stroke%3D%22%23FAFAFA%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M3%2013L13%203.00001%22%20stroke%3D%22%23FAFAFA%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--Black, #050403);

    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
    border-radius: 100%;
  }

  &__wrapper {
    flex: 1 0 100%;
    overflow: auto;
  }

  &__map-box {
    position: relative;

    width: 152rem;
    aspect-ratio: 1.85 / 1;
  }

  &__map {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &__dot {
    position: absolute;
    z-index: 100;

    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;

    color: var(--Achromatic-Black, #050403);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

    background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2228%22%20height%3D%2228%22%20rx%3D%2214%22%20fill%3D%22%23EBAA5B%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    background-size: 2.8rem 2.8rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--Color-Yellow, #EBAA5B);
    border-radius: 100%;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;

      display: grid;
      place-items: center;
      transform: translate(-50%, -50%);

      content: attr(data-dot-counter);
    }

    &.modal-map__dot--active {
      &+.modal-map__popup.modal-popup {
        display: flex;
      }
    }
  }

  &__popup {
    &.modal-popup {
      display: none;
    }
  }
}

@-moz-document url-prefix() {
  .modal-filters__nav-list {
    scrollbar-color: var(--White-10, rgba(255, 255, 255, 0.10)) transparent;
    scrollbar-width: thin;
  }
}
