.intro {
  position: relative;
  height: 100vh;
  height: 100dvh;

  &__image-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
  }

  &__image-swiper.swiper {
    height: 100%;
  }

  &__image-swiper-wrapper.swiper-wrapper {
    will-change: transform;
    -moz-transform-style: flat;
    -webkit-transform-style: flat;
    -ms-transform-style: flat;
    transform-style: flat;
  }

  &__image-swiper-slide {
    will-change: transform;
    -moz-transform-style: flat;
    -webkit-transform-style: flat;
    -ms-transform-style: flat;
    transform-style: flat;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;

      width: 100%;
      height: 27rem;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 17.84%, rgba(0, 0, 0, 0.00) 100%);

      pointer-events: none;
      content: "";

      @include breakpointMF(tablet) {
        height: 22rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.00) 100%);
      }
    }

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 200;

      width: 100%;
      height: 16rem;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 17.84%, rgba(0, 0, 0, 0.00) 100%);

      pointer-events: none;
      content: "";

      @include breakpointMF(tablet) {
        height: 18.5rem;
        transform: translateY(30%);
        background: linear-gradient(0deg, #050403 19.61%, rgba(5, 4, 3, 0.00) 100%);
      }
    }

  }

  &__picture-container {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 200;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
      content: "";
    }

    img {
      @include centeredAbsolute();
      display: block;
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }

  }

  &__info-container {
    @include centeredAbsolute();
    z-index: 500;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    @extend ._header-padding-top;
  }

  &__slide-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 4rem;
    padding-bottom: 2.4rem;

    @include breakpointMF(tablet) {
      padding-bottom: 7.4rem;
    }
  }

  &__title {
    position: relative;
    width: max-content;

    &::before {
      @include centeredAbsolute();
      z-index: -1;

      display: block;
      aspect-ratio: 2.4 / 1;
      width: 150%;

      background: #030303;
      border-radius: 100%;
      opacity: 0.5;

      filter: blur(150px);
      pointer-events: none;
      content: ""
    }

    @extend .text-h1;

    &-yellow-text {
      color: var(--Yellow, #EBAA5B);
    }

    &-white-text {
      color: var(--White, #FFF);
      font-weight: 500;
    }

    &-grey-text {
      color: var(--Light-Gray, #A0A0A0);
      text-transform: initial;
      font-weight: 500;
    }
  }

  &__quality-mark {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: -10%;
      z-index: -1;

      display: block;
      aspect-ratio: 2.56 / 1;
      width: 65%;

      background: #030303;
      border-radius: 100%;
      opacity: 0.8;
      filter: blur(200px);

      pointer-events: none;
      content: none;

      @include breakpointMF(tablet) {
        content: "";
      }
    }
  }

  &__thumbs-wrapper {
    position: relative;
    z-index: 500;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    height: 100%;
    padding-bottom: 5.5rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @include breakpointMF(tablet) {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__thumbs-list {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 1.6rem;
  }

  &__image-pagination {
    position: absolute;
    left: 50%;
    bottom: 10rem;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    transform: translateX(-50%);
    pointer-events: none;

    @include breakpointMF(tablet) {
      @include visuallyHidden();
    }
  }
}
