section.section.subcategories
  .subcategories__site-container
    .subcategories__heading
      h2.subcategories__title
        | Арматура для СИП
        br
        |0,4 кВ и 6-35 кВ

      p.subcategories__desc
        | Арматура для самонесущих изолированных проводов (СИП) — это набор
        | приспособлений, которые используются для монтажа, соединения и защиты
        | проводов в электрических сетях.
