.modal__container(data-target="modal")
  .modal__content
    button.button-reset.modal__close-btn.modal-close(type="button")
      span
      span
    .modal__legend
      | Поздравляем вы открыли модалку!
