include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/head.pug
  body(class=bodyClass, class=isSearchIsOpen ? "search-is-open" : '')
    .page-wrapper
      block header
        include ../parts/header.pug

      block content

      block footer
        include ../parts/footer.pug

    include ../parts/mobile-menu.pug

    if isMainPage
      include ../parts/loader.pug

  block scripts
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(defer src="https://api-maps.yandex.ru/2.1/?apikey=1d46cd9a-2c9e-4500-b55b-ee2306bc1a9f&lang=ru_RU")
    script(type="module" src="assets/js/main.js?v=" + siteVersion)
    script(src="assets/js/backend.js?v=" + siteVersion)
