.nav-item {
  &__dropdown {
    padding-left: 5.3rem;

    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;

    transform-origin: top;
    transform: scaleY(0);
    transform-origin: top;

    opacity: 0;
    transition-duration: 0.4s;
    transition-property: max-height, opacity, transform, padding;
    transition-timing-function: ease;
  }

  &__button {
    max-width: 34ch;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
    text-transform: uppercase;

    &--active {
      & + .nav-item__dropdown {
        max-height: 150rem;
        padding-top: 2rem;
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }


  &__list {
    max-height: 53.8rem;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.2rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--White-10, rgba(255, 255, 255, 0.10));
    }

    @-moz-document url-prefix() {
      #my-id { font-size: 100%; }
    }
  }

  &__item {
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 3.2rem;
    cursor: pointer;

    i {
      position: absolute;
      left: 0;
      top: 0;

      width: 1.6rem;
      height: 0.1rem;
      min-height: 1px;
      margin: 1rem 0;

      opacity: 0;
      background-color: #D9D9D9;
      content: "";
    }

    span {
      color: var(--white, #FFF);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      opacity: 0.6;
    }

    input[type="radio"] {
      &:checked {
        & ~ i {
          opacity: 1;
        }
        & ~ span {
          opacity: 1;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .nav-item__list {
    scrollbar-color: var(--White-10, rgba(255, 255, 255, 0.10)) transparent;
    scrollbar-width: thin;
  }
}
