.subcategories {
  margin-bottom: 5.4rem;
  @extend ._header-padding-top;

  @include breakpointMF(tablet) {
    margin-bottom: 10rem;
  }

  &__site-container {
    padding-top: 6rem;

    @include breakpointMF(tablet) {
      padding-top: 10rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin-bottom: 2.8rem;
    padding-bottom: 3.2rem;

    border-bottom: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));

    @include breakpointMF(tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      margin-bottom: 8rem;
      padding-right: 8.5rem;
      padding-bottom: 4rem;
    }
  }

  &__nav {
    position: sticky;
    top: 18rem;
  }

  &__title {
    margin-bottom: 1.6rem;
    @extend .text-80;

    @include breakpointMF(tablet) {
      margin-right: 10rem;
      margin-bottom: unset;
    }
  }

  &__desc {
    @extend .text-18;
    opacity: 0.7;

    @include breakpointMF(tablet) {
      max-width: 48ch;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 100%;

    @include breakpointMF(tablet) {
      grid-template-columns: 34.2rem 1fr;
      gap: 17rem;
    }
  }

  &__nav-item {
    margin-bottom: 3.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__reset {
    position: relative;
    display: flex;
    align-items: center;

    width: max-content;
    margin-top: 3.2rem;

    input {
      padding: 0.6rem 2rem 0.6rem 0;

      color: var(--white, #FFF);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      transition: var(--transition);
      opacity: 0.5;
      cursor: pointer;

      @include hoverActive() {
        opacity: 1;

        & ~ .icon {
          opacity: 1;
        }
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 0;

      width: 1.6rem;
      height: 1.6rem;
      transform: translateY(-50%);
      stroke: var(--White, #fff);

      opacity: 0.5;
      transition: var(--transition);
      pointer-events: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__control-panel {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 0.8rem;
    margin-bottom: 2.8rem;

    @include breakpointMF(tablet) {
      column-gap: 1.6rem;
      margin-bottom: 2rem;
    }
  }

  &__filters-open {
    &.filters-open {
      width: auto;
      flex: 1 1 auto;
    }
  }

  &__search {
    flex: 1 1 auto;
  }

  &__view-switcher {
    flex: 0 1 auto;
  }

  &__mobile-sorting {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 4.4rem;
    height: 4.4rem;

    border: 1px solid var(--Opacity-White-10, rgba(255, 255, 255, 0.10));
    border-radius: 0.8rem;

    .icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 3.2rem;

    @include breakpointMF(tablet) {
      row-gap: 1.6rem;
    }

    &.subcategories__list--simple {
      @include breakpointMF(tablet) {
        grid-template-columns: 100%;
        row-gap: 1.6rem;
        column-gap: unset;
      }

      .subcategories__item {
        .product-card {
          @extend .product-card--row;
        }
      }
    }

    &.subcategories__list--triple {
      @include breakpointMF(tablet) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.6rem;
        row-gap: 3.2rem;
      }

      .subcategories__item {
        .product-card {
          @extend .product-card--column;
        }
      }
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 3.2rem;

    @include breakpointMF(tablet) {
      margin-top: 6rem;
    }

    .button {
      width: 100%;
    }
  }
}
