.card {
  --card-padding: 2.4rem;
  position: relative;

  display: block;
  overflow: hidden;
  height: 25rem;
  aspect-ratio: 0.96/ 1;

  border-radius: 1.6rem;
  background-color: var(--Grey, #1D1D1D);

  transition: var(--transition);
  cursor: pointer;

  &__header {
    width: 100%;
    padding: var(--card-padding);
  }

  &__name {
    max-width: 20ch;
    @extend .text-h3;
    color: var(--White, #FFF);
    transition: color var(--transition);
  }

  &__chars {
    @extend .text-h3;
    color: var(--White-50, rgba(255, 255, 255, 0.50));
    transition: color var(--transition);
    text-transform: unset !important;
  }

  &__icon {
    position: absolute;
    bottom: var(--card-padding);
    left: var(--card-padding);
    z-index: 200;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    border-radius: 100%;
    border: 1px solid var(--White-30, rgba(255, 255, 255, 0.30));
    transition: var(--transition);

    .icon {
      width: 1.6rem;
      height: 1.6rem;
      stroke: var(--White, #FFF);
    }
  }

  &__image {
    position: absolute;
    left: auto;
    bottom: 0;
    z-index: 100;

    height: 100%;
    aspect-ratio: 1.728 / 1;
    padding-left: 8.2rem;

    transition: var(--transition);

    img {
      display: block;
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: var(--transition);
    }
  }

  &--big {
    .card__image {
      @include breakpointMF(tablet) {
        aspect-ratio: 0.92 / 1;
        top: 5rem;
        right: 5rem;
      }
    }
  }

  &:not(.intro__thumbs, .products__card) {
    @include hoverActive() {
      aspect-ratio: 1.728 / 1;
      background-color: var(--Green, #003D32);

      .card__icon {
        transform: rotate(-45deg);
      }
    }
  }

  &.products__card {
    width: 100%;
    height: 100%;
    aspect-ratio: unset;

    &.card--big {
      .card__image {
        @include breakpointMF(tablet) {
          aspect-ratio: 0.92 / 1;
          top: 5rem;
          right: 5rem;
        }
      }
    }

    .card__image {
      right: 0;
      padding-left: 0;

      img {
        object-fit: contain;
        object-position: right center;
      }

      @include breakpoint(small-tablet) {
        bottom: 0;
        right: 0;
        height: auto;
        padding-left: 10rem;
      }
    }

    .card__chars,
    .card__name {
      @extend .text-32;
    }

    @include hoverActive() {
      background-color: var(--Green, #003D32);

      .card__icon {
        transform: rotate(-45deg);
      }
    }
  }

  &.intro__thumbs {
    &.card--hover {
      aspect-ratio: 1.728 / 1;
      background-color: var(--Color-Yellow-2, #EF9930);

      .card__name {
        color: var(--Achromatic-Black, #050403);
      }

      .card__chars {
        color: rgba(5, 4, 3, 0.50);
      }

      .card__icon {
        border-radius: 53.688px;
        border-color: rgba(5, 4, 3, 0.20);

        .icon {
          stroke: var(--Achromatic-Black, #050403);
        }
      }

      .card__icon {
        transform: rotate(-45deg);
      }
    }
  }
}
