.certificates-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 2.4rem;

  width: 100%;
  max-height: 24.3rem;
  aspect-ratio: 0.83 / 1;
  padding: 2.4rem;

  color: var(--White, #FFF);
  border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
  background: var(--Black, #050403);
  transition: border 0.3s ease-out;
  cursor: pointer;
  @extend ._border-16;

  @include breakpointMF(tablet) {
    gap: 3.2rem;
    max-height: 35.2rem;
    aspect-ratio: 0.88 / 1;
    padding: 3.2rem;
  }

  &__image {
    height: 12.4rem;

    @include breakpointMF(tablet) {
      height: 16rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left center;
    }
  }

  &__text {
    margin-bottom: auto;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;

    @include maxSizeText(4);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    .icon-cert-ar {
      width: 1.6rem;
      height: 1.6rem;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
  }

  &__file {
    display: flex;
    align-items: center;

    .icon {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 1.2rem;
    }

    span {
      display: flex;
      align-items: center;
      color: var(--Light-Gray, #A0A0A0);
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .certificates-card__file-text {
      &::after {
        content: ",\00A0";
      }
    }
  }

  &__file-image {
    display: none;

    width: 3rem;
    height: 4rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpointMF(tablet) {
      width: 6rem;
      height: 8rem;
    }

    &--pdf {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2260%22%20height%3D%2280%22%20viewBox%3D%220%200%2060%2080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_2008_16679)%22%3E%0A%3Cpath%20d%3D%22M0%208C0%203.58172%203.58172%200%208%200H34L60%2026V72C60%2076.4183%2056.4183%2080%2052%2080H8C3.58172%2080%200%2076.4183%200%2072V8Z%22%20fill%3D%22%23EB1E3D%22%2F%3E%0A%3Cpath%20d%3D%22M40%2026H60L34%200V20C34%2023.3137%2036.6863%2026%2040%2026Z%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M14.7728%2065V51.9091H19.439C20.4575%2051.9091%2021.3012%2052.0945%2021.9703%2052.4652C22.6393%2052.8359%2023.14%2053.343%2023.4724%2053.9865C23.8048%2054.6257%2023.971%2055.3459%2023.971%2056.147C23.971%2056.9524%2023.8027%2057.6768%2023.466%2058.3203C23.1336%2058.9595%2022.6308%2059.4666%2021.9575%2059.8416C21.2884%2060.2124%2020.4468%2060.3977%2019.4326%2060.3977H16.2238V58.723H19.2536C19.8971%2058.723%2020.4191%2058.6122%2020.8197%2058.3906C21.2203%2058.1648%2021.5143%2057.858%2021.7018%2057.4702C21.8893%2057.0824%2021.983%2056.6413%2021.983%2056.147C21.983%2055.6527%2021.8893%2055.2138%2021.7018%2054.8303C21.5143%2054.4467%2021.2181%2054.1463%2020.8133%2053.929C20.4127%2053.7116%2019.8843%2053.603%2019.2281%2053.603H16.748V65H14.7728ZM30.1644%2065H25.9265V51.9091H30.2987C31.5813%2051.9091%2032.6829%2052.1712%2033.6033%2052.6953C34.5238%2053.2152%2035.229%2053.9631%2035.7191%2054.9389C36.2134%2055.9105%2036.4606%2057.076%2036.4606%2058.4354C36.4606%2059.799%2036.2113%2060.9709%2035.7127%2061.951C35.2184%2062.9311%2034.5025%2063.6854%2033.565%2064.2138C32.6275%2064.7379%2031.494%2065%2030.1644%2065ZM27.9016%2063.2741H30.0558C31.0529%2063.2741%2031.8817%2063.0866%2032.5423%2062.7116C33.2028%2062.3324%2033.6971%2061.7848%2034.0252%2061.0689C34.3533%2060.3487%2034.5174%2059.4709%2034.5174%2058.4354C34.5174%2057.4084%2034.3533%2056.5369%2034.0252%2055.821C33.7014%2055.1051%2033.2177%2054.5618%2032.5742%2054.1911C31.9308%2053.8203%2031.1317%2053.6349%2030.1772%2053.6349H27.9016V63.2741ZM38.5567%2065V51.9091H46.6746V53.6094H40.5319V57.598H46.0929V59.2919H40.5319V65H38.5567Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_2008_16679%22%3E%0A%3Crect%20width%3D%2260%22%20height%3D%2280%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
    }

    &--txt {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2260%22%20height%3D%2280%22%20viewBox%3D%220%200%2060%2080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_4792_33205)%22%3E%0A%3Cpath%20d%3D%22M0%208C0%203.58172%203.58172%200%208%200H34L60%2026V72C60%2076.4183%2056.4183%2080%2052%2080H8C3.58172%2080%200%2076.4183%200%2072V8Z%22%20fill%3D%22%23344054%22%2F%3E%0A%3Cpath%20d%3D%22M40%2026H60L34%200V20C34%2023.3137%2036.6863%2026%2040%2026Z%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M13.9339%2053.6094V51.9091H24.0653V53.6094H19.9807V65H18.012V53.6094H13.9339ZM27.3184%2051.9091L30.4505%2057.0291H30.5527L33.6848%2051.9091H35.9732L31.8951%2058.4545L35.9988%2065H33.6976L30.5527%2059.9503H30.4505L27.3056%2065H25.0044L29.1784%2058.4545L25.03%2051.9091H27.3184ZM36.9268%2053.6094V51.9091H47.0581V53.6094H42.9736V65H41.0049V53.6094H36.9268Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_4792_33205%22%3E%0A%3Crect%20width%3D%2260%22%20height%3D%2280%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
    }

    &--doc {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2260%22%20height%3D%2280%22%20viewBox%3D%220%200%2060%2080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_4792_33206)%22%3E%0A%3Cpath%20d%3D%22M0%208C0%203.58172%203.58172%200%208%200H34L60%2026V72C60%2076.4183%2056.4183%2080%2052%2080H8C3.58172%2080%200%2076.4183%200%2072V8Z%22%20fill%3D%22%233873FF%22%2F%3E%0A%3Cpath%20d%3D%22M40%2026H60L34%200V20C34%2023.3137%2036.6863%2026%2040%2026Z%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M16.0059%2065H11.7679V51.9091H16.1401C17.4228%2051.9091%2018.5243%2052.1712%2019.4448%2052.6953C20.3652%2053.2152%2021.0705%2053.9631%2021.5606%2054.9389C22.0549%2055.9105%2022.302%2057.076%2022.302%2058.4354C22.302%2059.799%2022.0527%2060.9709%2021.5542%2061.951C21.0598%2062.9311%2020.3439%2063.6854%2019.4064%2064.2138C18.4689%2064.7379%2017.3354%2065%2016.0059%2065ZM13.7431%2063.2741H15.8972C16.8944%2063.2741%2017.7232%2063.0866%2018.3837%2062.7116C19.0442%2062.3324%2019.5385%2061.7848%2019.8667%2061.0689C20.1948%2060.3487%2020.3588%2059.4709%2020.3588%2058.4354C20.3588%2057.4084%2020.1948%2056.5369%2019.8667%2055.821C19.5428%2055.1051%2019.0591%2054.5618%2018.4157%2054.1911C17.7722%2053.8203%2016.9732%2053.6349%2016.0186%2053.6349H13.7431V63.2741ZM35.7696%2058.4545C35.7696%2059.8523%2035.5139%2061.054%2035.0026%2062.0597C34.4912%2063.0611%2033.7902%2063.8324%2032.8996%2064.3736C32.0132%2064.9105%2031.0054%2065.179%2029.8762%2065.179C28.7426%2065.179%2027.7306%2064.9105%2026.8399%2064.3736C25.9536%2063.8324%2025.2547%2063.0589%2024.7433%2062.0533C24.232%2061.0476%2023.9763%2059.848%2023.9763%2058.4545C23.9763%2057.0568%2024.232%2055.8572%2024.7433%2054.8558C25.2547%2053.8501%2025.9536%2053.0788%2026.8399%2052.5419C27.7306%2052.0007%2028.7426%2051.7301%2029.8762%2051.7301C31.0054%2051.7301%2032.0132%2052.0007%2032.8996%2052.5419C33.7902%2053.0788%2034.4912%2053.8501%2035.0026%2054.8558C35.5139%2055.8572%2035.7696%2057.0568%2035.7696%2058.4545ZM33.8137%2058.4545C33.8137%2057.3892%2033.6411%2056.4922%2033.2959%2055.7635C32.955%2055.0305%2032.4862%2054.4766%2031.8896%2054.1016C31.2973%2053.7223%2030.6262%2053.5327%2029.8762%2053.5327C29.1219%2053.5327%2028.4486%2053.7223%2027.8563%2054.1016C27.2639%2054.4766%2026.7952%2055.0305%2026.45%2055.7635C26.1091%2056.4922%2025.9387%2057.3892%2025.9387%2058.4545C25.9387%2059.5199%2026.1091%2060.419%2026.45%2061.152C26.7952%2061.8807%2027.2639%2062.4347%2027.8563%2062.8139C28.4486%2063.1889%2029.1219%2063.3764%2029.8762%2063.3764C30.6262%2063.3764%2031.2973%2063.1889%2031.8896%2062.8139C32.4862%2062.4347%2032.955%2061.8807%2033.2959%2061.152C33.6411%2060.419%2033.8137%2059.5199%2033.8137%2058.4545ZM48.745%2056.1662H46.7507C46.674%2055.7401%2046.5312%2055.3651%2046.3224%2055.0412C46.1136%2054.7173%2045.858%2054.4425%2045.5554%2054.2166C45.2528%2053.9908%2044.9141%2053.8203%2044.5391%2053.7053C44.1683%2053.5902%2043.7741%2053.5327%2043.3565%2053.5327C42.6023%2053.5327%2041.9268%2053.7223%2041.3303%2054.1016C40.7379%2054.4808%2040.2692%2055.0369%2039.924%2055.7699C39.5831%2056.5028%2039.4126%2057.3977%2039.4126%2058.4545C39.4126%2059.5199%2039.5831%2060.419%2039.924%2061.152C40.2692%2061.8849%2040.7401%2062.4389%2041.3366%2062.8139C41.9332%2063.1889%2042.6044%2063.3764%2043.3501%2063.3764C43.7635%2063.3764%2044.1555%2063.321%2044.5263%2063.2102C44.9013%2063.0952%2045.2401%2062.9268%2045.5426%2062.7053C45.8452%2062.4837%2046.1008%2062.2131%2046.3097%2061.8935C46.5227%2061.5696%2046.6697%2061.1989%2046.7507%2060.7812L48.745%2060.7876C48.6385%2061.4311%2048.4318%2062.0234%2048.125%2062.5646C47.8224%2063.1016%2047.4325%2063.5661%2046.9553%2063.9581C46.4822%2064.3459%2045.941%2064.6463%2045.3317%2064.8594C44.7223%2065.0724%2044.0575%2065.179%2043.3374%2065.179C42.2038%2065.179%2041.1939%2064.9105%2040.3075%2064.3736C39.4212%2063.8324%2038.7223%2063.0589%2038.2109%2062.0533C37.7038%2061.0476%2037.4503%2059.848%2037.4503%2058.4545C37.4503%2057.0568%2037.706%2055.8572%2038.2173%2054.8558C38.7287%2053.8501%2039.4276%2053.0788%2040.3139%2052.5419C41.2003%2052.0007%2042.2081%2051.7301%2043.3374%2051.7301C44.032%2051.7301%2044.6797%2051.8303%2045.2805%2052.0305C45.8857%2052.2266%2046.429%2052.5163%2046.9105%2052.8999C47.392%2053.2791%2047.7905%2053.7436%2048.1058%2054.2933C48.4212%2054.8388%2048.6342%2055.4631%2048.745%2056.1662Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_4792_33206%22%3E%0A%3Crect%20width%3D%2260%22%20height%3D%2280%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
    }

    &--xls {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2260%22%20height%3D%2280%22%20viewBox%3D%220%200%2060%2080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_4792_33207)%22%3E%0A%3Cpath%20d%3D%22M0%208C0%203.58172%203.58172%200%208%200H34L60%2026V72C60%2076.4183%2056.4183%2080%2052%2080H8C3.58172%2080%200%2076.4183%200%2072V8Z%22%20fill%3D%22%230DB664%22%2F%3E%0A%3Cpath%20d%3D%22M40%2026H60L34%200V20C34%2023.3137%2036.6863%2026%2040%2026Z%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M16.3063%2051.9091L19.4384%2057.0291H19.5407L22.6728%2051.9091H24.9611L20.883%2058.4545L24.9867%2065H22.6856L19.5407%2059.9503H19.4384L16.2935%2065H13.9924L18.1664%2058.4545L14.0179%2051.9091H16.3063ZM26.5603%2065V51.9091H28.5354V63.2997H34.4672V65H26.5603ZM43.5004%2055.348C43.4322%2054.7429%2043.1509%2054.2741%2042.6566%2053.9418C42.1623%2053.6051%2041.5401%2053.4368%2040.7901%2053.4368C40.2532%2053.4368%2039.7887%2053.522%2039.3967%2053.6925C39.0046%2053.8587%2038.6999%2054.0888%2038.4826%2054.3828C38.2695%2054.6726%2038.163%2055.0028%2038.163%2055.3736C38.163%2055.6847%2038.2354%2055.9531%2038.3803%2056.179C38.5295%2056.4048%2038.7234%2056.5945%2038.962%2056.7479C39.2049%2056.897%2039.4648%2057.0227%2039.7418%2057.125C40.0188%2057.223%2040.2852%2057.304%2040.5408%2057.3679L41.8192%2057.7003C42.2369%2057.8026%2042.6651%2057.9411%2043.104%2058.1158C43.543%2058.2905%2043.9499%2058.5206%2044.3249%2058.8061C44.6999%2059.0916%2045.0025%2059.4453%2045.2326%2059.8672C45.467%2060.2891%2045.5842%2060.794%2045.5842%2061.3821C45.5842%2062.1236%2045.3924%2062.782%2045.0089%2063.3572C44.6296%2063.9325%2044.0778%2064.3864%2043.3533%2064.7188C42.6332%2065.0511%2041.7617%2065.2173%2040.739%2065.2173C39.7589%2065.2173%2038.9109%2065.0618%2038.195%2064.7507C37.479%2064.4396%2036.9187%2063.9986%2036.5138%2063.4276C36.109%2062.8523%2035.8853%2062.1705%2035.8427%2061.3821H37.8242C37.8626%2061.8551%2038.016%2062.2493%2038.2844%2062.5646C38.5572%2062.8757%2038.9045%2063.108%2039.3263%2063.2614C39.7525%2063.4105%2040.2191%2063.4851%2040.7262%2063.4851C41.2844%2063.4851%2041.7809%2063.3977%2042.2156%2063.223C42.6545%2063.044%2042.9996%2062.7969%2043.2511%2062.4815C43.5025%2062.1619%2043.6282%2061.7891%2043.6282%2061.3629C43.6282%2060.9751%2043.5174%2060.6577%2043.2958%2060.4105C43.0785%2060.1634%2042.7823%2059.9588%2042.4073%2059.7969C42.0366%2059.6349%2041.6168%2059.4922%2041.1481%2059.3686L39.6012%2058.9467C38.5529%2058.6612%2037.7219%2058.2415%2037.1083%2057.6875C36.4989%2057.1335%2036.1942%2056.4006%2036.1942%2055.4886C36.1942%2054.7344%2036.3988%2054.076%2036.8079%2053.5135C37.217%2052.951%2037.7709%2052.5142%2038.4698%2052.2031C39.1687%2051.8878%2039.957%2051.7301%2040.8349%2051.7301C41.7212%2051.7301%2042.5032%2051.8857%2043.1808%2052.1967C43.8626%2052.5078%2044.3995%2052.9361%2044.7915%2053.4815C45.1836%2054.0227%2045.3881%2054.6449%2045.4052%2055.348H43.5004Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_4792_33207%22%3E%0A%3Crect%20width%3D%2260%22%20height%3D%2280%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
    }

    &--ppt {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2260%22%20height%3D%2280%22%20viewBox%3D%220%200%2060%2080%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0_4792_33208)%22%3E%0A%3Cpath%20d%3D%22M0%208C0%203.58172%203.58172%200%208%200H34L60%2026V72C60%2076.4183%2056.4183%2080%2052%2080H8C3.58172%2080%200%2076.4183%200%2072V8Z%22%20fill%3D%22%23EF9930%22%2F%3E%0A%3Cpath%20d%3D%22M40%2026H60L34%200V20C34%2023.3137%2036.6863%2026%2040%2026Z%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%2F%3E%0A%3C%2Fg%3E%0A%3Cpath%20d%3D%22M14.9222%2065V51.9091H19.5884C20.6069%2051.9091%2021.4506%2052.0945%2022.1197%2052.4652C22.7887%2052.8359%2023.2894%2053.343%2023.6218%2053.9865C23.9542%2054.6257%2024.1204%2055.3459%2024.1204%2056.147C24.1204%2056.9524%2023.9521%2057.6768%2023.6154%2058.3203C23.283%2058.9595%2022.7802%2059.4666%2022.1069%2059.8416C21.4379%2060.2124%2020.5962%2060.3977%2019.582%2060.3977H16.3732V58.723H19.4031C20.0465%2058.723%2020.5685%2058.6122%2020.9691%2058.3906C21.3697%2058.1648%2021.6637%2057.858%2021.8512%2057.4702C22.0387%2057.0824%2022.1325%2056.6413%2022.1325%2056.147C22.1325%2055.6527%2022.0387%2055.2138%2021.8512%2054.8303C21.6637%2054.4467%2021.3675%2054.1463%2020.9627%2053.929C20.5621%2053.7116%2020.0337%2053.603%2019.3775%2053.603H16.8974V65H14.9222ZM26.0759%2065V51.9091H30.7421C31.7606%2051.9091%2032.6043%2052.0945%2033.2733%2052.4652C33.9424%2052.8359%2034.4431%2053.343%2034.7755%2053.9865C35.1079%2054.6257%2035.2741%2055.3459%2035.2741%2056.147C35.2741%2056.9524%2035.1057%2057.6768%2034.7691%2058.3203C34.4367%2058.9595%2033.9339%2059.4666%2033.2606%2059.8416C32.5915%2060.2124%2031.7499%2060.3977%2030.7357%2060.3977H27.5269V58.723H30.5567C31.2002%2058.723%2031.7222%2058.6122%2032.1228%2058.3906C32.5233%2058.1648%2032.8174%2057.858%2033.0049%2057.4702C33.1924%2057.0824%2033.2861%2056.6413%2033.2861%2056.147C33.2861%2055.6527%2033.1924%2055.2138%2033.0049%2054.8303C32.8174%2054.4467%2032.5212%2054.1463%2032.1164%2053.929C31.7158%2053.7116%2031.1874%2053.603%2030.5312%2053.603H28.051V65H26.0759ZM36.584%2053.6094V51.9091H46.7154V53.6094H42.6309V65H40.6621V53.6094H36.584Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_4792_33208%22%3E%0A%3Crect%20width%3D%2260%22%20height%3D%2280%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
    }
  }

  &__download {
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 4.2rem;
    height: 4.2rem;

    border: 1px solid var(--White-10, rgba(255, 255, 255, 0.10));
    border-radius: 100%;

    background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M12%2016L7%2011L8.4%209.55L11%2012.15V4H13V12.15L15.6%209.55L17%2011L12%2016ZM4%2020V15H6V18H18V15H20V20H4Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
    background-size: 2.4rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include hoverActive() {
    border-color: var(--Opacity-Yellow-30, rgba(235, 170, 91, 0.30));

    .certificates-card__footer {
      .icon-cert-ar {
        opacity: 1;
      }
    }
  }

  &.certificates-card--row {
    display: grid;
    grid-template-areas:
      "cc_icon cc_text"
      "cc_footer cc_footer";
    gap: 1.6rem;

    grid-template-columns: min-content 1fr;
    aspect-ratio: unset;
    padding: 1.6rem;

    background-color: var(--Grey, #1D1D1D);
    border-radius: 16px;

    transition-property: background-color, border;

    @include breakpointMF(tablet) {
      grid-template-areas:
        "cc_icon cc_text cc_download"
        "cc_icon cc_file cc_download";
      grid-template-columns: min-content 1fr min-content;
      gap: 2rem 4rem;
      padding: 2rem 3.2rem;
    }

    .certificates-card__image {
      display: none;
    }

    .certificates-card__file-image {
      grid-area: cc_icon;
      align-self: center;
      display: block;
    }

    .certificates-card__text {
      grid-area: cc_text;
      padding-right: 1.4rem;

      @include font(1.4rem, 130%, 400);
      @include maxSizeText(4);

      @include breakpointMF(tablet) {
        max-width: 65rem;
        @include font(1.8rem, 130%, 400);
        @include maxSizeText(2);
      }
    }

    .certificates-card__footer {
      grid-area: cc_footer;

      display: flex;
      align-items: center;
      width: 100%;
      gap: 2rem;
      padding-top: 1rem;
      border-top: 1px solid rgba(255, 255, 255, 0.10);

      @include breakpointMF(tablet) {
        display: contents;
      }

      .icon {
        display: none;
      }
    }

    .certificates-card__file {
      padding: 1.75rem 0;

      @include breakpointMF(tablet) {
        grid-area: cc_file;
        align-self: center;
        padding: unset;
      }
    }

    .certificates-card__download {
      display: flex;

      transition-property: background-color, border;
      transition-timing-function: ease-out;
      transition-duration: 0.3s;

      @include breakpointMF(tablet) {
        grid-area: cc_download;
        align-self: center;
      }
    }

    @include hoverActive() {
      border-radius: 16px;
      background-color: var(--Dark-Grey, #0E0E0E);
      border-color: var(--Opacity-Yellow-20, rgba(235, 170, 91, 0.20));

      .certificates-card__download {
        background-color: var(--White-10, rgba(255, 255, 255, 0.10));
        border-color: transparent;
      }
    }
  }
}
