.logo {
  display: block;

  .icon {
    width: 8.6rem;
    height: 3.4rem;
    fill: var(--Yellow, #EBAA5B);
    transition: var(--transition);

    @include breakpointMF(tablet) {
      width: 10.1rem;
      height: 4rem;
    }
  }

  @include hoverActive() {
    .icon {
      fill: var(--Yellow-2, #EF9930);
    }
  }

  &.footer__logo {
    width: 12rem;
    height: 4.8rem;
  }
}
