section.section.about-intro.subcategories
  .about-intro__site-container.subcategories__site-container
    .about-intro__header
      p.about-intro__title
        span.about-intro__text-orange CКАТ —&nbsp;
        span.about-intro__text-white современная компания по&nbsp;разработке и&nbsp;производству
        br
        span.about-intro__text-grey кабельной&nbsp;арматуры

      a.about-intro__video-btn.video-btn.js-video-button(href="#", data-fancybox, data-src="#dialog-content")
        .video-btn__body
          .video-btn__poster
            img(src="./assets/images/about/poster.png" alt="")
          .video-btn__play
            span

        .video-btn__tooltip Смотреть видео о компании

  .about-intro__picture.hide-on-mobile
    picture
      source(type="image/webp" srcset="./assets/images/about/image.webp" alt="")
      img.parallax-image(src="./assets/images/about/image.jpg" alt="")
